.venv/
.idea/
resources/raw/*
resources/interim/*
resources/processed/*


!resources/raw/README.md
!resources/interim/README.md
!resources/processed/README.md


src/elchaninov/build/
src/elchaninov/cmake-build-debug/
